<ion-view>
<ion-tabs class="tabs-positive tabs-icon-only">

<ion-tab title="Feed" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
 <ion-content has-header="true" padding="true">
<h1>Feed</h1>
</ion-content>
</ion-tab>

<ion-tab title="Spots" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
 <ion-content has-header="true" padding="true">
<h1>Spots</h1>
</ion-content>
</ion-tab>

<ion-tab title="Catches" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
 <ion-content has-header="true" padding="true">
<h1>Catches</h1>
</ion-content>
</ion-tab>

</ion-tabs>
</ion-view>
