<ion-view view-title="Post">
    <ion-content>
<!--         <h1>{{item.person.name}}</h1>
        <ul>
            <li><strong>type</strong>: {{item.type}}</li>
            <li><strong>likes</strong>: {{item.likes}}</li>
            <li><strong>spot</strong>: {{item.spot}}</li>
            <li><strong>person</strong>: {{item.person}}</li>
            <li><strong>text</strong>: {{item.data.text}}</li>
            <li><strong>url</strong>: {{item.data.url}}</li>
            <li><strong>image</strong>: {{item.data.image}}</li>
            <li><strong>thumb</strong>: {{item.data.thumb}}</li>
            <li><strong>id</strong>: {{item.id}}</li>
        </ul> -->
    </ion-content>
</ion-view>
